# LUT SystemAbility init config (OpenHarmony standard system)
# said / path filled when packaging into image or hdc push to /system

service tmac_sa
    class core
    user root
    group root
    oneshot
    on boot
    export SA_ID=6901
    critical
endservice
